*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-image: url("./image/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-self: center;
    color:white;
    /* overflow: hidden; */
}
button{
   padding: 5px;
   border: 2px solid black;
   background-color: white;
   color: black; 
   background-color: orangered;
}
#scr,#scr1,#sscore,#uscore{
   background-color: rgb(44, 131, 245);
   display: inline-block;
   padding: 3px;
   border-radius: 5px;
}
#scr1{
  margin-top: 25px;
}
#sscore,#uscore{
    background-color: black;
    padding:5px;
    font-size: large;
}
#user{
    /* display: flex; */
     margin-left: 50px; 
     font: bold;
}
#random{
    /* display: flex; */
    padding-left: 50px; 
}
#choose1{
    padding-right: 50px;
}
#choose1,#choose2{
    border: 2px solid black;
    border-radius: 25%;
    padding: 2px;
    color: aliceblue;
    background-color: rgb(12, 62, 224);
}
img{
    width: 25%;
    height: 25%;
}
@media(width<=740){
   
}
#useradd,#sysadd{
  width: 100%;
  height:80%;
}
#ele{
   border: 2px solid whitesmoke;
   border-radius: 20px;
   padding: 5px;
   margin-left: 2px;
   color: white;
   background-color: black;
}
#ele::after{
    background-color: blue;
}
#info{
    text-align: center;
}
li{
    display: inline-block;
    list-style: none;
}
button{
    display: block;
}

#both{
    display: flex;
    justify-content: center;
}
li{
    cursor: pointer;
}